<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../css/layout.css">
  <script type="text/javascript" src="../js/layout.js">
   </script>
<head>
  <meta charset="UTF-8">
  <title>Google Map Diary</title>
</head>

<body>
  <div id="main_header">
    <div id="logo_area">
      <div style="margin-top: 25px;margin-left:12px; color: white; display:inline-block;font-size:30px;cursor:pointer;top:10px;left:4px;" onclick="openNav()">&#9776; open</div>
      <div id="mySidenav" class="sidenav">
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="topbar"></div>
        <div id="nodata">로그인 하세요.</div>
      </div>
    </div>
    

    <div id="title">
      <div style="color:white;">Map Diary</div>
    </div>
    <div id="main_gnb">
      <ul>
        <li><a href="./login.ejs" style="color:white;">로그인</a></li>
        <li><a href="./signup.ejs"style="color:white;">회원가입</a></li>
      </ul>
    </div>
  </div>
  
  <div id="map"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=여기에 넣어주세요&callback=initMap&region=kr"></script>
  <script>
    function initMap() {
      var seoul = { lat: 37.5642135 ,lng: 127.0016985 };
      var map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 12,
          center: seoul
        });
      
    }
  </script>
</body>
</html>